.hide{
    display: none;
}
.container{
    text-align: center;
}
.aggiungi > div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.aggiungi > div > div{
    margin: 10px;
}
button{
    margin: 10px;
}
button:hover{
    cursor: pointer;
}
#menu{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    list-style: none;
    cursor: pointer;
}
#menu li {
    padding: 5px 10px;
}
#menu li:hover {
    background: #eee;
}
table{
    border-collapse: collapse;    
    width: 60%;                   
    margin: 20px auto;            
    text-align: center;  
}
th, td{
    border: 1px solid #444;       
    padding: 10px;  
}
thead{
    background-color: #2e6fce;    
    color: white; 
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;    
}
table:hover{
    cursor: pointer;
}
td[contenteditable="true"] {
    background-color: #f0f8ff;
}